.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20232a;
  color: white;
  padding: 10px 20px;
  height:80px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar {
  background: #61dafb;
  color: #20232a;
  font-weight: bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 120px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  background: transparent;
  border:none;
  outline: none;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f4f6;
}

.logout {
  color: #e63946;
  font-weight: 500;
}

.dropdown-item.logout:hover {
  background: #fdecea;
}