/* .ag-theme-alpine {
  --ag-odd-row-background-color: #f9f9f9;
  --ag-header-background-color: #f3f4f6;
  --ag-font-size: 14px;
  --ag-border-color: #ddd;
}

.ag-theme-alpine .ag-header-cell {
  font-weight: 600;
  text-transform: uppercase;
} */
