.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap:32px;
  font-size: large;
  padding: 24px 48px; 
  margin-top: 16px;
}
