* {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}
.header {
  background: #00b894;
  top: 0;
  width: 100%;
  height: 128px;
  position: fixed;
  z-index: 10;
}
.head,
.bio {
  text-align: center;
}

.main {
  height: 100%;
  margin-top: 100px;
  padding: 10px 50px;
}
.footer {
  height: 100%;
  margin-top: 10px;
  padding: 10px 50px;
}
input#openSidebar {
  display: none;
}
#sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  margin-top: 128px;
  background: #f5f6fa;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}
#openSidebar:checked ~ #sidebar {
  transform: translateX(0px);
}

.dashboard {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashboard li {
  color: #000;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.dashboard li a {
  color: #000;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}
.dashboard li a:hover {
  background: #16d8b2;
  color: #fff;
}
.sidebarIconToggle {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 20;
  top: 48px;
  left: 20px;
  cursor: pointer;
}

.spinner {
  height: 4px;
  background: #fff;
  transition: all 0.3s;
}

.spinner.middle,
.spinner.bottom {
  margin-top: 3px;
}

#openSidebar:checked ~ .sidebarIconToggle > .spinner.middle {
  opacity: 0;
}
#openSidebar:checked ~ .sidebarIconToggle > .spinner.top {
  transform: rotate(135deg);
  margin-top: 8px;
}
#openSidebar:checked ~ .sidebarIconToggle > .spinner.bottom {
  transform: rotate(-135deg);
  margin-top: -10px;
}
